menuconfig TPS55287Q1
    bool "TPS55287-Q1 36V, 4A Buck-Boost Converter"
    default n
    depends on I2C
    help
        Enable driver for the TPS55287-Q1 36V, 4A Buck-Boost Converter. This driver depends on the I2C subsystem being enabled.

if TPS55287Q1

config TPS55287Q1_INIT_PRIORITY
    int "TPS55287-Q1 initialization priority"
    default 70
    depends on TPS55287Q1
    help
      Set initialization priority for TPS55287-Q1 driver.

config TPS55287Q1_LOG_LEVEL
    int "TPS55287-Q1 driver log level"
    default 3
    depends on TPS55287Q1
    help
      Set log level for TPS55287Q1 driver (0=off, 1=err, 2=wrn, 3=inf, 4=dbug)

endif # TPS55287Q1