/ {
    aliases {
        tps55287q1-test = &tps55287q1;
    };
};

&i2c1 {
    clock-frequency = <I2C_BITRATE_STANDARD>;

    tps55287q1: tps55287q1@74 {
        compatible = "ti,tps55287q1";
        status = "okay";
        reg = <0x74>;
    };
};