/*
 * Devicetree overlay for NUCLEO-H563ZI:
 * - AD7124 ADC on SPI1
 * - TPS55287Q1 Regulator on I2C1
 */

/ {
    aliases {
        high-current-heater-test = &tps55287q1;
    };
};

&i2c1 {
    status = "okay";

    tps55287q1: tps55287q1@74 {
        compatible = "ti,tps55287q1";
        reg = <0x74>;
        status = "okay";

        intfb = <3>;
        force-discharge;
        r-sense-uohm = <20000>;
        
        /* Regulator common properties */
		regulator-name = "TPS55287Q1";
        regulator-active-discharge = <0>;
    };
};