name: Build for zephyr-hispec-mtc

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/zephyrproject-rtos/zephyr-build:latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: Initialize west workspace
        run: |
          west update

      - name: Build firmware
        run: |
          west build -b nucleo_h563zi app

      - name: Upload zephyr.bin
        uses: actions/upload-artifact@v4
        with:
          name: zephyr-firmware
          path: build/zephyr/zephyr*.bin